h1 {
    text-align: center;
    margin-bottom: 3rem;
}

.approve {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    @media screen and (max-width: 650px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        background-color: #3d3d3d;
        width: 100% !important;
        padding: 20px;
        text-align: center;

        img {
            width: 100%;
        }

        .details {
            background: none;
            cursor: pointer;
            outline: none;
            border: 1px solid gray;
            color: white;
            border-radius: 4px;
            cursor: pointer;
            padding: 8px 35px;
            font-weight: bold;
            transition: .5s ease-in-out !important;
            &:hover{
                background-color: #5127E5;
                border: 1px solid #5127E5;
            }
        }
        .modal{
            .modal-dialog{
                .modal-content{
                    background-color: #3d3d3d !important;
                    padding-bottom: 20px;
                    text-align: left;
                    img{
                        width: 100%;
                        height: 400px !important;
                        object-fit: cover;
                    }
                    .btns{
                        display: flex;
                        gap: 10px;
                        button{
                            padding: 5px 10px;
                            background: transparent;
                            outline: none;
                            border: 1px solid gray;
                            color: #fff;
                            cursor: pointer;
                            transition: .3s ease-in-out;
                            &:hover{
                                border: 1px solid red;
                                background-color: red;
                            }
                        }
                        .ok{
                            &:hover{
                                border: 1px solid #28a745;
                                background-color: #28a745;
                            }
                        }
                    }
                }
            }
        }
    }
}